<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>About Us</h2>

<div class="form-group col-md-8">
<p>
  West Side Runners has established itself as a prominent, respected, and competitive team among the other New York City running clubs, boasting a legacy of champions since its inception in 1975. The club's track record of producing exceptional talent stands as a testament to its endurance and lasting impact. However, despite these impressive accomplishments, West Side Runners has yet to achieve the exponential growth witnessed by some of its counterparts in the NYC running scene.
</p>
<p>
  To address this disparity and further enhance our standing within the running community, I present a proposal outlining a series of short and long-term goals for WSX. These objectives are aimed at garnering greater popularity and expanding the size and influence of our club.
</p>
<p>
  As of 5/22, the <span style="color:red;">short-term goals</span> outlined in this proposal offer pragmatic solutions to facilitate the club's growth. These measures are designed to address immediate opportunities and challenges, paving the way for incremental progress.
</p>
<p>
  Simultaneously, the <span style="color:blue;">long-term goals</span> presented in this proposal represent our aspirations for future engagement with the NYC running community. These objectives encompass initiatives that can be pursued once we establish stronger ties and active involvement with the local community.
</p>
<p>
  It is important to note that the goals presented here are merely a starting point. We recognize the potential for continued growth and are eager to embark on this exciting journey of expanding and strengthening our club.
</p>
<p>
  ~ Will W.
</p>
<br>

<!-- Short-Term Goals -->
<h5><span style="color:red;">Short-Term Goals:</span></h5>
<ul class="customIndent">
<li>Uniformed Singlets at Races</li>
</ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Emphasize the significance of wearing a WSX singlet,  instill a sense of pride among runners. Uniformed race singlets not only enhance the team's visual appeal but also capture the attention of spectators and photographers, increasing our visibility during races.
    </li>
</ul>
<ul class="customIndent">
    <li>Organized communication platform</li>
    </ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Streamline our communication channels by rectifying our Instagram, Facebook, and website to operate under the same username. This unified approach will facilitate seamless connectivity with members and interested individuals, promoting efficient and effective communication.
    </li>
</ul>
<ul class="customIndent">
    <li>Promote</li>
    </ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Leverage the potential of various platforms such as social media, local running events, and word-of-mouth to attract new members. A comprehensive promotional approach will allow us to reach a broader audience which hopefully expands our membership base.
    </li>
</ul>
<br>

<!-- Long-Term Goals -->
<h5><span style="color:blue;">Long-Term Goals:</span></h5>
<ul class="customIndent">
<li>Initiate Club Fee</li>
</ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Implement a structured membership fee system to ensure the sustainability and growth of the club. Determining the details, including the amount and frequency, will provide a solid foundation for financial stability and enable us to offer improved services and resources to our members.
    </li>
</ul>
<ul class="customIndent">
    <li>Sponsorship or Partnership</li>
    </ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Establish strategic collaborations with sponsors or partners who can provide invaluable financial support, equipment, or promotional resources for club.
    </li>
</ul>
<ul class="customIndent">
    <li>Social gatherings / Meetings</li>
    </ul>
<ul class="customIndent2">
    <li style="list-style-type:circle;">Organize social gatherings and regular meetings to foster a sense of community within the club. These events will serve as platforms to attract and unite both existing members and the broader running community.
    </li>
</ul>

</div>