<nav class="navigation">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/about-us">About Us</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/membership">Membership</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/sponsors">Sponsors</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/training">Training</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/records">Records</a></li>
  </ul>
</nav>
<!-- 
<mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<router-outlet></router-outlet>