<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Club Records (as of May 2023)</h2>

<p class="form-group col-md-8">* Records are based upon records made since the WSX Runner's Club was begun in 1975 and only include times when a WSX runner was running as a member of the club.</p>

<div class="form-group col-md-8">

                        <!-- Men's Road -->
<h4>Men's Road</h4>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>7 Day Race</td>
        <td>Nobuaki</td>
        <td>Koyago</td>
        <th>no data</th>
      </tr>
      <tr>
        <td>6 Day Race</td>
        <td>Marvin</td>
        <td>Skagerberg</td>
        <th>353 Miles</th>
      </tr>
      <tr>
        <td>48 Hour Run</td>
        <td>Phil</td>
        <td>McCarthy</td>
        <th>257.24 Miles</th>
      </tr>
      <tr>
        <td>24 Hour Run</td>
        <td>Phil</td>
        <td>McCarthy</td>
        <th>145.3 Miles</th>
      </tr>
      <tr>
        <td>100 Miles</td>
        <td>Phil</td>
        <td>McCarthy</td>
        <th>14:00:19hrs</th>
      </tr>
      <tr>
        <td>12 Hour Run</td>
        <td>Nobuaki</td>
        <td>Koyago</td>
        <th>86 Miles</th>
      </tr>
      <tr>
        <td>70 Miles</td>
        <td>Jorge</td>
        <td>Ramirez</td>
        <th>10:33:09</th>
      </tr>
      <tr>
        <td>100 K</td>
        <td>Marvin</td>
        <td>Skagerberg</td>
        <th>6:55:58</th>
      </tr>
      <tr>
        <td>56 Miles</td>
        <td>Edson</td>
        <td>Sanches</td>
        <th>9:25:08</th>
      </tr>
      <tr>
        <td>50 Miles</td>
        <td>Nobuaki</td>
        <td>Koyago</td>
        <th>5:56:30</th>
      </tr>
      <tr>
        <td>40 Miles</td>
        <td>Marvin</td>
        <td>Skagerberg</td>
        <th>5:55</th>
      </tr>
      <tr>
        <td>60 K</td>
        <td>Nobuaki</td>
        <td>Koyago</td>
        <th>4:09:11</th>
      </tr>
      <tr>
        <td>33.3 Miles</td>
        <td>Jorge</td>
        <td>Baez</td>
        <th>4:07</th>
      </tr>
      <tr>
        <td>56 K</td>
        <td>Edson</td>
        <td>Sanches</td>
        <th>4:47:15</th>
      </tr>
      <tr>
        <td>50 K</td>
        <td>Phil</td>
        <td>McCarthy</td>
        <th>3:24:24</th>
      </tr>
      <tr>
        <td>MARATHON</td>
        <td>Alemu</td>
        <td>Bekele Gebre</td>
        <th>2:06:02</th>
      </tr>
      <tr>
        <td>NYC Marathon</td>
        <td>Alemu</td>
        <td>Bekele Gebre</td>
        <th>2:08:38</th>
      </tr>
      <tr>
        <td>20 Miles</td>
        <td>Placido</td>
        <td>Cruz-Martin</td>
        <th>1:48:50</th>
      </tr>
      <tr>
        <td>30 K</td>
        <td>Alene</td>
        <td>Reta</td>
        <th>1:33:06</th>
      </tr>
      <tr>
        <td>18 Miles</td>
        <td>Mikael</td>
        <td>Tesfaye Kahsay</td>
        <th>1:37:51</th>
      </tr>
      <tr>
        <td>25 K</td>
        <td>Abinet</td>
        <td>Adrano</td>
        <th>1:15:15</th>
      </tr>
      <tr>
        <td>22 K</td>
        <td>Clodomiro</td>
        <td>Diaz-Meneses</td>
        <th>1:15:12</th>
      </tr>
      <tr>
        <td>HALF MARATHON</td>
        <td>Tesfaye</td>
        <td>Girma Bekele</td>
        <th>1:00:38</th>
      </tr>
      <tr>
        <td>20 K</td>
        <td>Khalid</td>
        <td>Kairouani</td>
        <th>1:00:46</th>
      </tr>
      <tr>
        <td>12 Miles</td>
        <td>Tadesse</td>
        <td>Yae Dabi</td>
        <th>1:12:07</th>
      </tr>
      <tr>
        <td>10 Miles</td>
        <td>Katema</td>
        <td>Nigusse</td>
        <th>46:29</th>
      </tr>
      <tr>
        <td>15 K</td>
        <td>Alene</td>
        <td>Reta</td>
        <th>44:07</th>
      </tr>
      <tr>
        <td>9 Miles</td>
        <td>Jorge</td>
        <td>Baez</td>
        <th>44:33</th>
      </tr>
      <tr>
        <td>8 Miles</td>
        <td>Rachid</td>
        <td>Tbahi</td>
        <th>39:24</th>
      </tr>
      <tr>
        <td>12 K</td>
        <td>Bado</td>
        <td>Worku Merdessa</td>
        <th>35:20</th>
      </tr>
      <tr>
        <td>7 Miles</td>
        <td>Tadesse</td>
        <td>Yae Dabi</td>
        <th>34:25</th>
      </tr>
      <tr>
        <td>10 K</td>
        <td>Alene</td>
        <td>Reta</td>
        <th>27:46</th>
      </tr>
      <tr>
        <td>6 Miles</td>
        <td>Alene</td>
        <td>Reta</td>
        <th>27:59</th>
      </tr>
      <tr>
        <td>5 Miles</td>
        <td>Alene</td>
        <td>Reta</td>
        <th>23:01</th>
      </tr>
      <tr>
        <td>8 K</td>
        <td>Khalid</td>
        <td>Kairouani</td>
        <td>22:28</td>
      </tr>
      <tr>
        <td>3.5 Miles</td>
        <td>Kevin</td>
        <td>McOwen</td>
        <th>16:56</th>
      </tr>
      <tr>
        <td>5 K</td>
        <td>Khalid</td>
        <td>Kairouani</td>
        <th>13:43</th>
      </tr>
      <tr>
        <td>3 Miles</td>
        <td>Henry</td>
        <td>Diez</td>
        <th>14:44</th>
      </tr>
      <tr>
        <td>2 Miles</td>
        <td>Rachid</td>
        <td>Tbahi</td>
        <th>9:27</th>
      </tr>
      <tr>
        <td>1 Mile</td>
        <td>Kumsa</td>
        <td>Adugna Mergesa</td>
        <th>4:01.6</th>
      </tr>
    </tbody>
  </table>

                         <!-- Women's Road -->
<h4>Women's Road</h4>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>24 Hour Run</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>84.42 Miles</th>
      </tr>
      <tr>
        <td>100 Miles</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>25:38 Hours</th>
      </tr>
      <tr>
        <td>100 K</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>17:52:44</th>
      </tr>
      <tr>
        <td>56 Miles</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>9:59:57</th>
      </tr>
      <tr>
        <td>50 Miles</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>8:41:04</th>
      </tr>
      <tr>
        <td>60 K</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>5:40:36</th>
      </tr>
      <tr>
        <td>56 K</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>no data</th>
      </tr>
      <tr>
        <td>50 K</td>
        <td>Admas</td>
        <td>Belilgne</td>
        <th>5:03:24</th>
      </tr>
      <tr>
        <td>MARATHON</td>
        <td>Buzunesh</td>
        <td>Deba</td>
        <th>2:19:59</th>
      </tr>
      <tr>
        <td>NYC Marathon</td>
        <td>Buzunesh</td>
        <td>Deba</td>
        <th>2:23:19</th>
      </tr>
      <tr>
        <td>20 Miles</td>
        <td>Laurie</td>
        <td>McBride</td>
        <th>2:21:41</th>
      </tr>
      <tr>
        <td>30 K</td>
        <td>Judy</td>
        <td>Loebl</td>
        <th>2:18:40</th>
      </tr>
      <tr>
        <td>18 Miles</td>
        <td>Aziza</td>
        <td>Aliyu</td>
        <th>1:51:06</th>
      </tr>
      <tr>
        <td>25 K</td>
        <td>Belainesh</td>
        <td>Gebre</td>
        <th>1:29:04</th>
      </tr>
      <tr>
        <td>22 K</td>
        <td>Ginny</td>
        <td>van Hengel</td>
        <th>1:47:40</th>
      </tr>
      <tr>
        <td>HALF MARATHON</td>
        <td>Belainesh</td>
        <td>Gebre</td>
        <th>1:08:51</th>
      </tr>
      <tr>
        <td>20 K</td>
        <td>Ana Adelia</td>
        <td>Rios</td>
        <th>1:14:15</th>
      </tr>
      <tr>
        <td>12 Miles</td>
        <td>Lilia</td>
        <td>Britez</td>
        <th>1:23:38</th>
      </tr>
      <tr>
        <td>10 Miles</td>
        <td>Misiker</td>
        <td>Mekonnen</td>
        <th>53:</th>
      </tr>
      <tr>
        <td>15 K</td>
        <td>Belainesh</td>
        <td>Gebre</td>
        <th>48:45</th>
      </tr>
      <tr>
        <td>9 Miles</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>56:45</th>
      </tr>
      <tr>
        <td>8 Miles</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>48:34</th>
      </tr>
      <tr>
        <td>12 K</td>
        <td>Biraktayit</td>
        <td>Degefa</td>
        <th>48:34</th>
      </tr>
      <tr>
        <td>7 Miles</td>
        <td>Misiker</td>
        <td>Mekonnen</td>
        <th>38:43</th>
      </tr>
      <tr>
        <td>10 K</td>
        <td>Biraktayit</td>
        <td>Degefa</td>
        <th>31:23</th>
      </tr>
      <tr>
        <td>6 Miles</td>
        <td>Laurie</td>
        <td>McBride</td>
        <th>38:31</th>
      </tr>
      <tr>
        <td>5 Miles</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>26:46</th>
      </tr>
      <tr>
        <td>8 K</td>
        <td>Hirut</td>
        <td>Mandefro</td>
        <th>25:32</th>
      </tr>
      <tr>
        <td>4 Miles</td>
        <td>Buzunesh</td>
        <td>Deba</td>
        <th>20:53</th>
      </tr>
      <tr>
        <td>3.5 Miles</td>
        <td>Joan</td>
        <td>Monahan</td>
        <th>21:</th>
      </tr>
      <tr>
        <td>5 K</td>
        <td>Etaferahu</td>
        <td>Temesgen</td>
        <th>15:26</th>
      </tr>
      <tr>
        <td>1 Mile</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>4:27</th>
      </tr>
    </tbody>
</table>

                         <!-- Men's Cross Country -->
<h4>Men's Cross Country</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15 K</td>
        <td>Sandot</td>
        <td>Mendez</td>
        <th>51:25</th>
    </tr>
    <tr>
        <td>12 K</td>
        <td>Cesar</td>
        <td>Sabogal-Mora</td>
        <th>37:50</th>
    </tr>
    <tr>
        <td>10 K</td>
        <td>Khalid</td>
        <td>Kairouani</td>
        <th>30:30</th>
    </tr>
    <tr>
        <td>5 Miles</td>
        <td>Jorge</td>
        <td>Baez</td>
        <th>27:07</th>
    </tr>
    <tr>
        <td>8 K</td>
        <td>Rohan</td>
        <td>Woodley</td>
        <th>27:14</th>
    </tr>
    <tr>
        <td>4 Miles</td>
        <td>Tesfaye</td>
        <td>Bekele #1</td>
        <th>19:43</th>
    </tr>
    <tr>
        <td>5 K</td>
        <td>Trevor</td>
        <td>Murray</td>
        <th>15:23</th>
    </tr>
    <tr>
        <td>3 Miles</td>
        <td>Rafael</td>
        <td>Vasquez</td>
        <th>16:43</th>
    </tr>
    </tbody>
</table>

                         <!-- Women's Cross Country -->
<h4>Women's Cross Country</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15 K</td>
        <td>Carmen</td>
        <td>Jimenez</td>
        <th>64:13</th>
    </tr>
    <tr>
        <td>5 Miles</td>
        <td>Mercedes</td>
        <td>Urguidez</td>
        <th>41:24</th>
    </tr>
    <tr>
        <td>4 Miles</td>
        <td>Meseret</td>
        <td>Ali Basa</td>
        <th>24:03</th>
    </tr>
    <tr>
        <td>5 K</td>
        <td>Carmen</td>
        <td>Jimenez</td>
        <th>18:59</th>
    </tr>
    </tbody>
</table>

                         <!-- Men's Indoor/Outdoor Track -->
<h4>Men's Indoor/Outdoor Track</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>5000 Meters</td>
        <td>Alberto</td>
        <td>Mena</td>
        <th>15:07.3</th>
    </tr>
    <tr>
        <td>3 Miles</td>
        <td>Jorge</td>
        <td>Diez</td>
        <th>15:45</th>
    </tr>
    <tr>
        <td>2 Miles</td>
        <td>Atilla</td>
        <td>Sabahoglu</td>
        <th>9:27.4</th>
    </tr>
    <tr>
        <td>3000 Meters</td>
        <td>Jacinto</td>
        <td>Navarette</td>
        <th>8:12</th>
    </tr>
    <tr>
        <td>1 Mile</td>
        <td>Khalid</td>
        <td>Kharouani</td>
        <th>4:21.2</th>
    </tr>
    <tr>
        <td>1500 Meters</td>
        <td>Luis Felipe</td>
        <td>Posso</td>
        <th>4:16</th>
    </tr>
    <tr>
        <td>1200 Meters</td>
        <td>Rafael</td>
        <td>Vasquez</td>
        <th>3:16</th>
    </tr>
    <tr>
        <td>800 Meters</td>
        <td>William</td>
        <td>Whelan</td>
        <th>1:58.3</th>
    </tr>
    </tbody>
</table>

                         <!-- Women's Indoor/Outdoor Track -->
<h4>Women's Indoor/Outdoor Track</h4>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Event</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Time/Distance</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2 Miles</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>10:51.9</th>
    </tr>
    <tr>
        <td>3000 Meters</td>
        <td>Nuhamin</td>
        <td>Bogale Ashame</td>
        <th>9:19.78</th>
    </tr>
    <tr>
        <td>1 Mile</td>
        <td>Nuhamin</td>
        <td>Bogale Ashame</td>
        <th>10:51.9</th>
    </tr>
    <tr>
        <td>1500 Meters</td>
        <td>Karen</td>
        <td>Roa</td>
        <th>4:48.0</th>
    </tr>
    <tr>
        <td>800 Meters</td>
        <td>Claudia</td>
        <td>Camargo</td>
        <th>2:21.6</th>
    </tr>
    </tbody>
</table>

</div>