<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrainingCalendar</title>
  <meta name="description" content="TrainingCalendar">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(146, 0, 0);
  text-decoration: none;
  color: white;
}
</style>
</head>

<h2>Training/Racing Schedule</h2>

<!-- <iframe src="https://calendar.google.com/calendar/embed?src=umug5673n2crfv2c0p6d3ptohs%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" min-width="600" width="80%" height="450" frameborder="0" scrolling="no"></iframe> -->

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=Y19iZTU0ODkyZWQxMGMyNGQ5YjYyZDg0ZmZlNTVjMzc1OTk1MzRmMzQ0OTA2Y2U1MDQzN2RkNmY4MTNmMTg3NDNkQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23B39DDB" style="border:solid 1px #777; max-width: 100%" width="800" height="600" frameborder="0" scrolling="no"></iframe>