<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <img src="assets/Screen Shot 2021-05-13 at 2.43.48 PM.png" style="display: block; margin-left: auto; margin-right: auto;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
</head>

<br><br>
<h1>Welcome to the West Side Runners</h1>
<p class="form-group col-md-8">We are a competitive running team based in New York City and the tri-state area embracing runners of all distances and abilities.</p>

<!-- <a href="https://www.instagram.com/westsiderunnersnyc/">
<img src="/assets/Instagram-Icon.jpg" style="width: 30px; height: 30px; margin: auto; display: block;">
<p style="text-align: center;">Instagram Page</p>
</a> -->

<!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-9a6766b7-695f-4c28-866c-28441465ee86"></div> -->
<iframe src="https://widget.elfsig.ht/9a6766b7-695f-4c28-866c-28441465ee86" style="border:solid 1px #777; max-width: 100%" width="800" height="600" frameborder="0" scrolling="no" ></iframe>
